:root {
    --main-font: 'Manrope', sans-serif;
    --secondary-font: 'Stratoslcweb', sans-serif;
    --primary-color: #7b61ff;
    --secondary-color: black;
    --text-color: rgba(255, 255, 255, 0.6);
    --background-gradient: #0b0326;
    --enhance-color: white;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--main-font);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--secondary-color) 70%, var(--background-gradient));
}

#top a {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 30px;
}

nav {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: var(--text-color);
}

nav ul li a:visited {
    color: var(--text-color);
}

nav ul li {
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a:hover {
    color: var(--enhance-color);
    ;
}

nav ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    top: 30px;
    left: 0;
    background-color: var(--enhance-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

.block-main {
    padding-left: 50px;
    align-items: center;
    display: grid;
}

.block-main .welcome-text {
    display: grid;
    grid-gap: 20px;
    grid-column: 1;
}

.block-main .welcome-text h1 {
    font-family: var(--secondary-font);
    font-size: 45px;
    display: inline-block;
    color: var(--primary-color);
    overflow: hidden;
    width: auto;
    margin: 0 auto;
    border-right: .15em solid transparent;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end 8;
}

@keyframes typing {
    from {
        max-width: 0
    }
    to {
        max-width: 75%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: var(--primary-color);
    }
}

.block-main .welcome-text p {
    width: 80%;
    font-size: 30px;
    line-height: 50px;
    justify-self: center;
    color: var(--enhance-color);
}

.block-main .profile-img {
    margin: 30px 50px;
    height: 100%;
    min-width: 100px;
    min-height: 250px;
    max-height: 470px;
    grid-column: 2;
    columns: 2;
    border-radius: 25%;
}

#education {
    padding: 50px;
    min-height: 100vh;
    color: var(--text-color);
    background-image: linear-gradient( 180deg, #0b0326 11%, #0b0326 67%, #000);
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: var(--enhance-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
}

.timeline-date {
    font-size: 18px;
    color: var(--enhance-color);
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--secondary-color);
    border: 6px solid var(--primary-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 19%), 0 5px 53px 0 rgb(0 29 255 / 73%);
}

.timeline-content h3 {
    font-size: 20px;
    color: var(--enhance-color);
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--text-color);
    left: calc(50% - 1px);
}

#project {
    min-height: 100vh;
    padding: 50px;
    background-image: linear-gradient( 180deg, #000 5%, #0b0326 80%, black);
    color: var(--text-color);
}

img {
    max-width: 100%;
}

.cards {
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-gap: 50px;
    max-width: 100%;
    margin: 1em auto;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 6px solid var(--primary-color);
    border-radius: 15px;
    padding: 10px;
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card h3 {
    margin: 0;
    padding: .5rem;
    text-align: center;
}

.card .content {
    padding: 1rem;
    color: #c8c8c8;
}

.card footer {
    background-color: white;
    color: black;
    padding: .5rem;
    text-align: center;
    border-radius: 10px;
    width: 75%;
    justify-self: center;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--enhance-color);
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 19%), 0 5px 53px 0 rgb(0 29 255 / 73%);
    border-color: var(--secondary-color);
}

.card:hover footer {
    background-color: var(--secondary-color);
    color: var(--enhance-color);
}

.card:hover p {
    color: var(--enhance-color);
}

a {
    color: inherit;
    text-decoration: none;
}

#competitions {
    padding: 50px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.comp-cards {
    padding-top: 10%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 50px;
    margin: 1em auto;
    justify-content: center;
}

#skills {
    padding: 50px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    min-height: 100vh;
}

#skills-wrapper {
    padding-top: 5%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 20px;
}

[class ^="skill"] {
    border: 5px solid var(--text-color);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    display: grid;
    object-fit: contain;
    align-items: center;
    background-color: var(--background-gradient);
    font-weight: bold;
}

[class ^="skill"] p {
    font-size: 15px;
    grid-column: 2;
    line-height: 4;
    align-items: center;
    justify-items: center;
    color: var(--enhance-color);
}

[class ^="skill"]::after {
    content: "";
    clear: both;
    display: table;
}

[class ^="skill"] img {
    float: left;
}

#contact {
    padding: 50px;
    height: 50vh;
    background-color: var(--secondary-color);
}

#contact h3 {
    text-align: center;
    display: block;
    padding-bottom: 20px;
    color: var(--enhance-color);
}

#contact div {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    background-color: var(--secondary-color);
}

#contact div a:hover {
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 19%), 0 5px 53px 0 rgb(0 29 255 / 73%);
    transform: scale(1.1);
}


/* responsiveness for mobile */

@media only screen and (max-width: 640px) {
    * {
        margin: 0%;
        padding: 0%;
    }
    .hero nav {
        display: none;
    }
    .block-main {
        margin: 0%;
        padding: 10%;
        row-gap: 20px;
        height: 100vh;
    }
    .block-main .welcome-text {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        color: var(--enhance-color);
    }
    .block-main .welcome-text h1 {
        color: var(--primary-color);
        font-size: 20px;
    }
    .block-main .welcome-text p {
        font-size: 15px;
        line-height: normal;
        text-align: justify;
    }
    .block-main .profile-img {
        height: 50%;
        min-width: 50px;
        min-height: 50px;
        min-height: 250px;
        max-height: 470px;
        grid-column: 1;
        grid-row: 2;
        border-radius: 25%;
        margin: 0%;
        padding: 0%;
        justify-self: center;
        display: flex;
    }
    #skills-wrapper {
        padding-top: 5%;
        justify-content: center;
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
    #contact {
        height: 25vh;
    }
    .timeline-items::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 50px;
        max-width: 75%;
        padding-top: 0%;
        margin: 1em auto;
        font-size: small;
    }
    .comp-cards {
        padding-top: 0%;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 50px;
        margin: 1em auto;
        font-size: small;
    }
    [class ^="skill"] p {
        font-size: small;
    }
}


/* responsiveness for tablets */

@media only screen and (max-width: 1024px) {
    * {
        margin: 0%;
        padding: 0%;
    }
    .block-main {
        margin: 0%;
        padding: 10%;
        row-gap: 20px;
        height: 100vh;
    }
    .block-main .welcome-text {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        color: var(--enhance-color);
    }
    .block-main .welcome-text h1 {
        color: var(--primary-color);
        font-size: 20px;
    }
    .block-main .welcome-text p {
        font-size: 15px;
        line-height: normal;
        text-align: justify;
    }
    .block-main .profile-img {
        height: 50%;
        min-width: 50px;
        min-height: 50px;
        min-height: 250px;
        max-height: 470px;
        grid-column: 1;
        grid-row: 2;
        border-radius: 25%;
        margin: 0%;
        padding: 0%;
        justify-self: center;
        display: flex;
    }
    #skills-wrapper {
        padding-top: 5%;
        justify-content: center;
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
    #contact {
        height: 25vh;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 50px;
        max-width: 75%;
        padding-top: 0%;
        margin: 1em auto;
        font-size: small;
    }
    .comp-cards {
        padding-top: 0%;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 50px;
        margin: 1em auto;
        font-size: small;
    }
    [class ^="skill"] p {
        font-size: small;
    }
    #skills-wrapper {
        padding-top: 5%;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
    }
}


/* Media for printing*/

@media print {
    .hero nav {
        display: none;
        height: 50%;
    }
    #contact {
        display: none;
    }
    #list-contact {
        display: flex;
    }
}